.jackpotBetUl.padding {
  padding-left: 0;
}
.baseballJackpotBet > .baseBallNumber.PlayForJacpotDiv {
  position: absolute;
  top: 20%;
  left: 17%;
  width: 45px;
  height: 45px;
}
.PlayForJacpotNumber {
  padding-top: 2rem !important;
  padding-left: 0.3rem;
  font-size: 28px;
}
.playForJackpotInput {
  background-color: transparent !important;
}
.playForJackpotImage {
  margin-top: 6rem;
}
.playForJackpotMain p {
  font-size: 18px;
  padding-top: 6rem;
}
.playForJackpotMain {
  padding-left: 3rem;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(50%) saturate(0%) hue-rotate(217deg) brightness(100%);
}
